
  <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
                  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
                                 
  <beans>
   <bean id="dm" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
   <property name="DriverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
   <property name="Url" value="jdbc:oracle:thin:@localhost:1521:xe"></property>
   <property name="Username" value="hr"></property>
   <property name="Password" value="hr"></property>

   </bean>  
   <bean id="sd" class="dao.StudentDaoImpl">
  <property name="ds" ref="dm"></property> </bean>
   </beans>               